environment:
  matrix:
    - nodejs_version: '8'
    - nodejs_version: '10'

install:

  # Get the latest stable version of Node.js or io.js
  - ps: Install-Product node $env:nodejs_version

  # install modules
  - npm install
  - npm i ts-node

test_script:
  - node --version
  - npm --version
  - npm run test

# Don't actually build.
build: off
